# -*- mode: conf -*-
# {{ ansible_managed }}

[core]
   pager = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[color]
  ui = always

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
