# -*- mode: conf -*-
# {{ ansible_managed }}

[DEFAULT]
# A host is banned if it has generated "maxretry" during the last "findtime"
# seconds.
maxretry = 5
findtime = 600
# "bantime" is the number of seconds that a host is banned.
bantime  = 600 # 10 minutes

# "ignoreip" can be an IP address, a CIDR mask or a DNS host. Fail2ban will not
# ban a host which matches an address in this list. Several addresses can be
# defined using space separator.
ignoreip = 127.0.0.1/8 {{ whitelist_ips | join(' ') }}

# banaction: This sets the action that will be used when the threshold is
# reached eg /etc/fail2ban/action.d/ufw.conf
banaction = ufw

# https://serverfault.com/q/629709
[ufw-port-scan]
enabled   = {{ fail2ban_enable_ufw_port_scan }}
port = all
maxretry  = 10
findtime = 3600
filter    = ufw-port-scan
logpath   = /var/log/ufw.log

# https://0wned.it/2016/03/21/banning-repeat-offenders-with-fail2ban/
[repeat-offender]
enabled = {{ fail2ban_enable_repeat_offender }}
filter = repeat-offender
port = all
banaction = iptables-allports
logpath = /var/log/fail2ban.log
# Repeat offender if banned 3 times within 3 days
maxretry = 3
findtime =  259200 # 3 days
bantime = 31556952 # 1 year
