# -*- mode: conf -*-
# {{ ansible_managed }}

# https://0wned.it/2016/03/21/banning-repeat-offenders-with-fail2ban/

[Definition]
failregex = fail2ban\.actions\s+\[\d+\]:\s+(WARNING|NOTICE)\s+\[.*\]\s+Unban <HOST>$
ignoreregex = fail2ban\.actions\s+\[\d+\]:\s+(WARNING|NOTICE)\s+\[repeat-offender\].*$
